<?xml version="1.0" encoding="UTF-8"?>
<!--
  REAL WordPress integration tests (wp-phpunit, disposable DB).
  Run twice: EVC_TEST_STAFF_FLAG=disabled (wp-common + wp-disabled) and
  EVC_TEST_STAFF_FLAG=enabled (wp-common + wp-enabled).
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/wordpress/bootstrap.php"
         colors="true"
         cacheResult="false"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="wp-common">
            <directory>tests/wordpress/common</directory>
        </testsuite>
        <testsuite name="wp-enabled">
            <directory>tests/wordpress/enabled</directory>
        </testsuite>
        <testsuite name="wp-disabled">
            <directory>tests/wordpress/disabled</directory>
        </testsuite>
    </testsuites>
</phpunit>
